# Application port
API_PORT=8080

# Postgres config
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_DB=auth_db
DATABASE_URL="postgres://db_user:db_password@postgres:5432/auth_db?sslmode=disable"

# JWT config
JWT_SECRET=change-me-in-production-use-long-random-string
JWT_ISSUER=auth-service
JWT_AUDIENCE=auth-service
JWT_EXPIRY_MINUTES=15
REFRESH_TOKEN_EXPIRY=720h

# IPCrypt secret key (16 bytes, base64 encoded).
# Can be generated with `openssl rand -base64 16`
IPCRYPT_KEY=change-me-to-16-byte-base64-key
